    /* @font-family: 'Crete Round', serif;
    @font-family: 'Roboto', sans-serif; */

    /* Roboto: (Thin:100 / Light:300 / Regular:400 / Medium:500) */


.container-header-section {
    /* background-color: rgba(243, 198, 34, 0.8); */
    background-image: url(../img/background-section-header.png);
    background-size: cover;
    height: 100vh;
}

header {
    width: 80%;
    margin: auto;
    margin-top: 0;
    display: flex;
    padding-top: 8vh;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration-line: none;
}

a, p {
    font-family: 'Roboto', Courier, monospace;
    font-weight: 500;
    font-size: 18px;
}

section {
    background-color: black;
    width: 45%;
    margin: auto;
    margin-top: 20vh;
    height: 28%;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

h1 {
    font-family: 'Crete Round', Courier, monospace;
    font-size: 96px;
    font-weight: 100;
    color: #F3C622;
    opacity: 0.8;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: 'Roboto', Courier, monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    color: white;
    text-align: center;
}

.container-phonetic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radius-speaker {
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 2em;
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker_logo {
    height: 3vh;
    width: 3vh;
}