    /* @font-family: 'Crete Round', serif;
    @font-family: 'Roboto', sans-serif; */

    /* Roboto: (Thin:100 / Light:300 / Regular:400 / Medium:500) */


    /* ----------------------PARTIE HEADER-------------------------- */

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container-header-section {
    background-image: url(../img/background-section-header.png);
    background-size: cover;
    height: 100vh;
}

header {
    width: 80%;
    margin: auto;
    margin-top: 0;
    display: flex;
    padding-top: 8vh;
    font-size: 18px;
    justify-content: space-around;
}

a{
    color: black;
    text-decoration-line: none;
}

a, p {
    font-family: 'Roboto', Courier, monospace;
}

section {
    background-color: black;
    width: 45%;
    margin: auto;
    margin-top: 20vh;
    height: 28%;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

h1 {
    font-family: 'Crete Round', Courier, monospace;
    font-size: 96px;
    font-weight: 100;
    color: #F3C622;
    opacity: 0.8;
    text-align: center;
    margin: 0;
}

/* Style pour les titres de chaque section (ex: "Nos compétences, Nos technologies") */
h2{
  font-family: 'Crete Round', Courier, monospace;
  font-style: italic;
  font-size: 64px;
  font-weight: 300;
}

/* Style pour la phonétique du nom de l'agence */
h3 {
    font-family: 'Roboto', Courier, monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    color: white;
    text-align: center;
}

/* Style pour les titres des cartes de la section compétence */
h4{
  font-family: 'Roboto', Courier, monospace;
  font-style: Medium;
  font-size: 24px;
}

.container-phonetic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radius-speaker {
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 2em;
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker_logo {
    height: 3vh;
    width: 3vh;
}

.logo-hexagon {
    height: 8vh;
    width: 8vh;
}

.container-hexagon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 33%;
}
/* ----------------------FIN HEADER-------------------------- */



/* ----------------------PARTIE AGENCE-------------------------- */
.container-agence{
  height: auto;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-agence img{
  height: 322px;
  width: 322px;
}

.container-agence-txt{
  color: white;
  margin-left: 100px;
}

.container-agence-txt h2{
  font-family: 'Crete Round', Courier, monospace;
  font-size: 48px;
  font-style: italic;
  font-weight: 200;
}

.container-agence-txt p{
  width: 646px;
  text-align: justify;
}

/* ----------------------FIN AGENCE-------------------------- */


/* ----------------------PARTIE COMPETENCES-------------------------- */
.container-expertises-cards{
  display: flex;
  justify-content: space-around;
}

.container-expertises-card{
  height: 320px;
  width: 288px;
  border: 3px solid rgba(243, 198, 34, 0.8);
}

.container-expertises-card{
  width: 236px;
}

/* ----------------------PARTIE TECHNOLOGIE-------------------------- */
